<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About password generator</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div style="font-family:Georgia;color: #0d89cd;font-size:150%;text-align:center;" class="alert alert-success">
    This is a password generator web application created by <b><u><a href="https://www.linkedin.com/in/tushar-singh-156735192/">Tushar Singh</a></u></b>.<br>
    I am an undergraduate in department of Computer Science from National Institute of Technology, Meghalaya.<br>
</div>
<div style="text-align: Center; color: #ff4500;">
<a href="{% url 'home' %}" class="btn btn-success">GO TO HOME</a>
</div>
</body>
</html>